{{>header}}


<center><h1><!--- {{crear identificador nombre descripcion valor modalidad intensidad estado}}--->{{mostrarcurso}}</h1></center>
A continuacion se presenta la lista de cursos creados hasta el momento<br><br>

{{{mostrarr listado}}}


<center><a href="/Aspirante">Volver</a></center>
{{>footer}}