{{>header}}

<center><h1>{{mostrarcurso}}</h1></center>

A continuacion se presenta la lista de cursos creados hasta el momento

<br>
<br>

{{{mostrarr listado}}}

<center><a href="/coordinador">Volver</a></center>

{{>footer}}